<html lang="en">
  <head>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
  </head>
  <body>
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}
<h1>Add quote!<h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.quote.label}}<br />
        {{form.quote()}}<br />
        {{form.person_id.label}}<br />
        {{form.person_id(class_="js-person-multiple")}}<br />
        {{form.source.label}}<br />
        {{form.source()}}<br />
        {{form.tag.label}}<br />
        {{form.tag(class_="js-example-basic-multiple")}}
        {{form.submit()}}
    </form>
    <ul>
        {% for quote in quotes %}
            <li>
                {{ quote.quote }}<br />
                <span style="color: red;">{{ quote.person.name }}</span><br />
                {% for tag in quote.tags %}
                    <span>{{ tag.name }}</span>
                {% endfor %}
                <form method="GET" action="{{ url_for('Edit.EditQuote', id = quote.id)}}">
                    <button>Rediger</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {% for tag in tags %}
            <li>
                {{ tag.name }}
                {% if not tag.quote %}
                    <form method="POST" action="{{ url_for('Homepage.RemoveTag', id=tag.id) }}"> 
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2({
        placeholder: "Velg en kategori",
        tags: true,
        tokenSeparators: [',', ' ']
    });
    $('.js-person-multiple').select2({
        placeholder: "Velg sitatgiver",
        tags: true,
        maximumSelectionLength: 1
    });
});
                </script>
  </body>
</html>
